@media (max-width: 600px) { 
    #map {
        
        height: 60vh !important;
    }

    #main-menu {
        display: block !important;
        position: relative !important;
        top: 50vh !important;
        max-width: unset;
        width: 100% !important;
         
    }

    #layers-menu {
        position: absolute !important;
        top: 75vh !important;
        left: 2% !important;
        max-width: unset;
        width: 96% !important;
        border-radius: 0px !important;
        border: 1px solid #000000;
    }

}